@charset "utf-8";

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    /* background: rgb(207, 61, 73); */
    background-image: url(../img/omikuji_background.jpg);
    background-size: cover;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 40px;
    color: rgba(253, 4, 79, 0.7);
    font-size: 38px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(255,255,255,0.65);
    text-align: center;
}

.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    text-align: center;
}

#btn1 {
    position: relative;
    margin: 0px auto;
    width: 280px;
    height: 280px;
    background-image: url(../img/omikuji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
    cursor: pointer;
}

#btn1:hover {
animation: shaking 0.3s infinite;
}
@keyframes shaking{
    0%{transform:translate(0px,0px)rotateZ(0deg)}
    25%{transform:translate(2px,2px)rotateZ(1deg)}
    50%{transform:translate(0px,2px)rotateZ(0deg)}
    75%{transform:translate(2px,0px)rotateZ(-1deg)}
    100%{transform:translate(0px,0px)rotateZ(0deg)}
}
#btn1:active {
    position: relative;
    top: 5px;
    left: 5px;
    
}
#omikujiText{
    position: relative;
    margin: 10px auto;
}
.omikujiPaper{
    animation:fadeDown 1.5s forwards;
}
@keyframes fadedown{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(20px);
    }
}
footer>p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: rgb(62, 82, 100);
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1, 18, 24, 0.7);

}

.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #454566;
    animation: byeshutter 2.5s forwards;
}

.shutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: azure;
    animation: shutteropen 3s forwards;

}

@keyframes byeshutter {
    70% {
        opacity: 1;
    }

    100% {

        opacity: 0;
        display: none;
        z-index: -1;
    }

}

@keyframes shutteropen {
    0% {
        width: 0;
        height: 1em;
    }

    50% {
        width: 100%;
        height: 0.05em;

    }

    100% {
        width: 100%;
        height: 100%;
    }
}
@media  screen and(max-width: 480px) {
    body{
        background-position: 50% 0%;
        background-size: auto 1000px;
    }
    
}
@media screen and (max-width:400px) {
    body{
        background-position: 75% 0%;
        background-size: auto 1000px;
    }
    header{
        margin-top: 20px;
        font-size: 30px;
    }
    #btn1{
        width: 260px;
        height: 260px;
    }
    #omikujiText{
        margin: 30px;
    }
    
}